<form action="/api/products" method="post" class="container">
  <div class="mb-3">
    <label for="Title" class="form-label">Título</label>
    <input 
      type="Title"
      class="form-control"
      id="titleImput"
      aria-describedby="Title"
      name="title"
    />
    <div class="mb-3">
    <label for="Price" class="form-label">Precio</label>
    <input type="Price" class="form-control" id="priceImput" name="price" />
  </div>
  <div class="mb-3">
    <label for="Imagge" class="form-label">Imagen</label>
    <input type="Imagge" class="form-control" id="imaggeImput" name="thumbnail" />
  </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>