<html lang="en">
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <body class="container">
    <%- include("../partials/header.ejs") %>
    <h1>Home</h1>
    <%-include("../partials/form.ejs") %>

    <div class="text-center">
    <a href="/products" class="btn btn-success">Lista de productos</a>
    </div>

    <%- include("../partials/scripts.ejs") %>
</html>
