<html lang="en">
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <body class="container">
    <%- include("../partials/header.ejs") %>
    <h1>Lista de Productos</h1>
    <%-include("../partials/table.ejs") %>

    <div class="text-center">
        <a href="/" class="btn btn-primary">Home</a>
    </div>
    <%- include("../partials/scripts.ejs") %>
</html>
