<h1>Home</h1>

{{>form}}

    <div id="productsContainer">
    
    </div>
    {{>table}}
    <h2>chat con socket</h2>
    <input type="text" id="messageField">
    <div id="messageContainer"></div>

<div class="text-center">
  <a href="/api/products" class="btn btn-success">Lista de productos</a>
</div>