<h1>Formulario de Ingreso</h1>
<form id="loginForm" class="container">

<div class="mb-3">
  <input type="text" class="form-control" id="mail" placeholder="Ingrese su Mail">
</div>
<div class="mb-3">
  <input type="text" class="form-control" id="name" placeholder="Ingrese su Nombre">
</div>
<div class="mb-3">
  <input type="text" class="form-control" id="lastName" placeholder="Ingrese su Apellido">
</div>
<div class="mb-3">
  <input type="text" class="form-control" id="age" placeholder="Ingrese su Edad">
</div>
<div class="mb-3">
  <input type="text" class="form-control" id="alias" placeholder="Ingrese su Alias">
</div>
<div class="mb-3">
  <input type="text" class="form-control" id="avatar" placeholder="Ingrese su Avatar">
</div>
<div class="mb-3">
  <input type="text" class="form-control" id="avatar" placeholder="Ingrese su Avatar">
</div>
  <button type="submit" id="login_button" class="btn btn-primary">Sign in</button>
</form>
{{> scripts}}
<script src="index.js"></script>
