<h1>Login de Usuario</h1>
<form id="loginForm" class="container" method="post">

<div class="mb-3">
  <input type="text" class="form-control" id="login" placeholder="Ingrese su Nombre">
</div>
  <button type="submit" id="login_button" class="btn btn-primary">Sign in</button>
</form>
{{> scripts}}
<script src="login.js"></script>
